# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
.env.local
